/* Bulma */

@import '../node_modules/bulma/sass/utilities/initial-variables.sass';

$primary: #512DA8;

@import '../node_modules/bulma/bulma.sass';

/* Custom */

@import 'styles/BooksList.scss';
@import 'styles/Book.scss';
@import 'styles/App.scss';
